.seriesOrMovieDetails {
	background-color: white;
	margin: 2%;
	padding: 2%;
}

.seriesOrMovieDetails h1 {
	text-align: center;
}

.seriesOrMovieDetails h1, .seriesOrMovieDetails p, .seriesOrMovieDetails img {
    margin: 4% auto;
}

.seriesOrMovieDetails img {
	width: 50%;
	display: block;
}

.crossBar {
	text-align: right;
	font-size: x-large;
}

.crossBar span {
	cursor: pointer;
	padding: 0 0.5rem;
}

.crossBar span:hover {
	background-color: lightgray;
}

.animatedLoader {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: transparent;
	border-radius: 50%;
	border: solid 10px gray;
	border-top: 10px solid blueviolet;
	animation: animate 1s infinite linear;
	width: 100px;
	height: 100px;
}

@keyframes animate{
		from{
			transform: translate(-50%, -50%) rotate(0deg);
		}
		to{
			transform: translate(-50%, -50%) rotate(360deg);
		}
}