.animeList {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.errorMessage {
    text-align: center;
}

.errorMessage .sadPikachu {
    width: 50%;
    margin-top: 50px;
    border-radius: 0.5rem;
}

.loader {
    text-align: center;
}

.loader .waitingShinchan {
    margin-top: 50px;
    width: 50%;
    border-radius: 45%;
}

.invisible{
    display: none;
}