.anime {
    /* width: 25%; */
    box-sizing: border-box;
    padding: 2%;
    flex: 0 0 23%;
    /* border: solid 4px lightblue; */

    display: flex;
    flex-direction: column;
    /* align-items: center; not centering some titles */
    text-align: center;
    cursor: pointer;
    margin: 1% 1%;
    background-color: white;
    min-height: 50vh;
}

.anime img {
    flex-grow: 1;
    width: 100%;
}

@media (max-width: 680px) {
    .anime {
        flex: 0 0 31.33%;
    }
}

@media (max-width: 550px) {
    .anime {
        flex: 0 0 48%;
    }
}