.animeList {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.errorMessage{
    text-align: center;
}

.errorMessage .sadPikachu{
    width: 50%;
    margin-top: 50px;
    border-radius: 0.5rem;
}